/* Move down content because we have a fixed navbar that is 50px tall */
body {
	/* Margin bottom by footer height */
	padding-top: 50px;
	margin-bottom: 60px
}
@media (max-width: 990px) {
  body {
    padding-top: 100px;
  }
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.div-inline{
    display: inline-block;
    
}
.center-block {float: none !important}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.horizontal-center { margin: auto; max-width: 300px;}

.btn-space {
    margin-right: 5px;
	margin-bottom: 5px;
}

.btn-container-right {
  direction: rtl;
}

 .clickableRow { 
 cursor: pointer; 
 }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.jumbotron {
			background-image: url("banner.png");
			background-size: 1000px 450px;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 500px;
		}
		
.btn-lg1 {
	padding: 10px 20px;
	background: none;
	border: 3px solid #0099cc;
	color: #0099cc;
	
}
.btn-lg1:hover{
	border: 3px solid #007299;
	color: #007299;
	padding: 10px 20px;
	background: none;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}